@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --tamanhoHeader: 4rem;
    --tamanhoFooter: var(--tamanhoHeader);
    --tamanhoPagina: calc(100vh - var(--tamanhoHeader) - 1rem);
    --corFundoBody: #e9e9e9;

    --corTextoPri: #eeece9;
    --corTextoSec: #26282c;

    --corTituloH2: #F26716;

    --corBotao: #F26716;
    --corFundoRedirect: #1C3144;
    --corFundoForm: #A9B7C7; 
    
    --corFundoFooter: #232323;

    --corTextoMissao: #f3e8de;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Jost", sans-serif;
    line-height: 1.6;
    background-color: var(--fundoBody);
    overflow-x: hidden;
}

.container {
    margin: auto;
    width: 80%;
}