@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM RESET CSS */

body{
    background-color: #f4f4f4;
    display: flex;
}

.div-superior{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vw;
}

.div_select{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 22px;
    margin: 1rem 1rem 1rem 2.5rem;
}

.div-filtro{
    width: 50vw;
    background-color: #fff;
    margin: 50px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    border-radius: 50px;
    padding: 50px;
}

#slc_setor , #slc_controlador{
    width: 20rem;
}

.div-usuario{
    display: flex;
    width: 20vw;
    background-color: #fff;
    margin: 50px;
    height: 100px;
    border-radius: 50px;
    padding: 20px;
    font-size: 20px;
}

.div-usuario h6{
    font-size: 23px;
}

.div-img-usuario{
    margin-right: 15px;
    margin-left: 15px;
}

.div-conteudo{
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
    width: 75vw;
    height: fit-content;
    border-radius: 20px;
}

.div-metricas{
    display: flex;
}

.div_grafico{
    text-align: center;
    font-size: 1.4rem;
    background-color: #fff;
    width: 33vw;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem 1rem 1rem 2.5rem;
}

.div_grafico_uso_historico{
    text-align: center;
    font-size: 1.4rem;
    background-color: #fff;
    width: 33vw;
    margin: 5px;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem 1rem 1rem 2.5rem;
}

#grafico_uso_disco,
#grafico_historico {
    width: 100% !important;
    height: 22rem !important;
}

.div-grafico-alertas-kpi{
    display: flex;
    justify-content: space-between;
}

.kpis{
    display: flex;
    flex-direction: row;
    align-items: start;
    height: 58vh;
    gap: 20px;
    justify-content: space-around;
}

.kpi_dashboard{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    font-size: 1.5rem;
    width: 15vw;
    height: fit-content;
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.kpi_dashboard p{
    font-weight: 700;
    font-size: 2em;
}

#porcentagem-media{
    color: white;
    background-color: #4CAF50;
}

#componente-alertas{
    color: white;
    background-color: #e6ac00;
    cursor: pointer;
}

.titulo_grafico{
    font-size: 1.2rem;
}

.container-content{
    width: 83vw;
    overflow-y: scroll;
    height: 100vh;
}

.config-disco{
    color: #fff;
}

.kpi_dashboard_controlador{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    font-size: 1.5rem;
    width: 30vw;
    height: fit-content;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.kpis_controlador{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#previsao-disco{
    font-weight: 700;
    color: #fff;
    background-color: #4CAF50;
}

#config-disco{
    background-color: #ff3f2e;
    color: #fff;
    font-weight: 700;
}

#data_atual{
    font-size: 20px;
}