@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM RESET CSS */

body{
    background-color: #f4f4f4;
    display: flex;
}


.div_select{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 22px;
}

#slc_setor , #slc_controlador{
    width: 20rem;
}

.div-superior{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.div-filtro{
    width: 50vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-radius: 50px;
    padding: 50px;
    font-size: 20px;
}

.div-usuario{
    display: flex;
    width: 20vw;
    background-color: #fff;
    margin: 20px;
    height: 100px;
    border-radius: 50px;
    padding: 20px;
    font-size: 20px;
}

.div-usuario h6{
    font-size: 23px;
}

.div-img-usuario{
    margin-right: 15px;
    margin-left: 15px;
}

.div-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83vw;
    height: fit-content;
    border-radius: 20px;
}

.div-metricas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.div_grafico_uso_historico{
    text-align: center;
    font-size: 1.4rem;
    background-color: #fff;
    width: 90%;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem 0rem 1rem 0rem;
}

#grafico_historico {
    width: 100% !important;
    height: 22rem !important;
}

.div-grafico-alertas-kpi{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.kpis{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
}

.kpi_dashboard{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    width: 50%;
    height: 8vw;
    background-color: white;
    margin: 1rem 1rem 1rem 1rem;
    padding: 20px;
    border-radius: 20px;
}

.kpi_dashboard p{
    font-weight: 700;
    font-size: 2em;
}

#porcentagem-media{
    color: white;
    background-color: #4CAF50;
}

#componente-alertas{
    color: white;
    background-color: #e6ac00;
    cursor: pointer;
}

.titulo_grafico{
    font-size: 1.2rem;
}

.container-content{
    width: 83vw;
    height: 100vh;
}

.config-disco{
    color: #fff;
}

.kpi_dashboard_controlador{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    font-size: 1.2rem;
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 20px;
}

.kpis_controlador{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#previsao-disco{
    font-weight: 700;
    color: #fff;
    background-color: #4CAF50;
}

#config-disco{
    background-color: #ff3f2e;
    color: #fff;
    font-weight: 700;
}

#data_atual{
    font-size: 20px;
}

.tabela{
    margin-top: 2rem;
    width: 100%;
}

.tabela tr{
    background-color: #E78433;
    border: none;
    font-size: 20px;
}

.tabela td{
    text-align: center;
    height: fit-content;
    background-color: #fff;

}

.tabela td img {
    width: 2rem;
    cursor: pointer;
}

.listagem{
    background-color: #ffffff;
    height: 50vh;
    width: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    margin: 1rem 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.div-info-conteudo{
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    margin: auto;
    justify-content: space-between;
}

.div-info-conteudo h3{
    font-size: 25px;
}

.div-info-conteudo p{
    font-size: 20px;
}

.container-content{
    width: 85%;
}

.container-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}