@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM RESET CSS */

body{
    background-color: #f4f4f4;
    display: flex;
}


.div_select{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 22px;
}

#slc_setor , #slc_controlador{
    width: 20rem;
}

.div-superior{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    
}

.div-filtro{
    width: 50vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-radius: 50px;
    padding: 50px;
    font-size: 20px;
}

.div-usuario{
    display: flex;
    width: 20vw;
    background-color: #fff;
    margin: 20px;
    height: 100px;
    border-radius: 50px;
    padding: 20px;
    font-size: 20px;
}

.div-usuario h6{
    font-size: 23px;
}

.div-img-usuario{
    margin-right: 15px;
    margin-left: 15px;
}

.div-conteudo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 83vw;
    height: fit-content;
    border-radius: 20px;
}

.div-metricas{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.div_grafico_uso_historico{
    text-align: center;
    font-size: 1.4rem;
    background-color: #fff;
    width: 90%;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 1rem 0rem 1rem 0rem;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

#grafico_historico {
    width: 100% !important;
    height: 22rem !important;
}

.div-grafico-alertas-kpi{
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.kpis{
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
}

.kpi_dashboard{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    font-size: 1.2rem;
    width: 50%;
    height: 8vw;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    margin: 1rem 1rem 1rem 1rem;
}

.kpi_dashboard p{
    font-weight: 700;
    font-size: 2em;
}

#porcentagem-media{
    color: white;
    background-color: #4CAF50;
}

#componente-alertas{
    color: white;
    background-color: #e6ac00;
    cursor: pointer;
}

.titulo_grafico{
    font-size: 1.2rem;
}

.container-content{
    width: 83vw;
    height: 100vh;
}

.config-disco{
    color: #fff;
}

.kpi_dashboard_controlador{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 3px;
    font-size: 1.2rem;
    width: 80%;
    height: fit-content;
    margin: auto;
    padding: 10px;
    border-radius: 20px
}

.direita{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.esquerda{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 20px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

#previsao-disco{
    font-weight: 700;
    color: #fff;
    background-color: #4CAF50;
}

#config-disco{
    background-color: #ff3f2e;
    color: #fff;
    font-weight: 700;
}

#data_atual{
    font-size: 20px;
}

.tabela{
    margin-top: 2rem;
    width: 100%;
}

.tabela tr{
    background-color: #E78433;
    border: none;
    font-size: 20px;
}

.tabela td{
    text-align: center;
    height: fit-content;
    background-color: #fff;

}

.tabela td img {
    width: 2rem;
    cursor: pointer;
}

.listagem{
    background-color: #ffffff;
    height: 50vh;
    width: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.div-info-conteudo{
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin: 1rem 3rem 1rem 3rem;
}

.div-info-conteudo h3{
    font-size: 25px;
}

.div-info-conteudo p{
    font-size: 20px;
}

.container-content{
    width: 85%;
}

.container-conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

}

.kpi_view{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.kpi_view button{
    height: 2rem;
    width: 50%;
    font-size: large;
    cursor: pointer;
    border-radius: 10px;
}

.kpi_view button:hover{
    cursor: pointer;
    transition: 0.2s;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.select2-search__field{
    font-size: 18px;
}

.tabela td p {
    border-radius: 10px;
    color:#fff;
}

.campos {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.campos label {
    width: 20%;
    font-size: 20px;
}


.campos select {
    width: 80%;
    height: 2.8rem;
    padding: 0.2rem;
    font-size: 20px;
    border: 3px black solid;
    border-radius: 10px;
}

.campos div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.campos {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60vw;
    transform: translate(-50%, -50%);
    height: 55vh;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 10px;
    z-index: 110; 
}


#overlay{
    display: none;
    position: fixed;
    inset: 0; 
    background: rgba(0,0,0,0.35);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 100;
}


#overlay.active{
    display: block;
}

.topo{
    margin: 2rem 2rem;
    font-size: 20px;
    cursor: pointer;
    align-self: flex-end;
}

.topo img{
    width: 2rem;
}