@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    background-color: #f4f4f4;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

.container-content {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    background-color: red;
}

/* CABECALHO */

.div-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
  margin-top: 50px;
}

.div-filtro{
  width: 70%;
  background-color: white;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  height: 90px;
  border-radius: 50px;
  padding: 18px 28px;
  font-size: 18px;
}
.div-filtro select{
  font-size: 16px;
  height: 38px;
  width: 160px;
  margin-left: 18px;
}

.div-usuario{
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: white;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  height: 90px;
  width: 20vw;
  border-radius: 50px;
  padding: 12px 20px;
  font-size: 16px;
}
.div-usuario h6{ font-size: 18px; }
.div-img-usuario img{ width:56px; height:56px; border-radius:50%; }


/* MAIN */

.main-container {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;

    background-color: blue;
}

.chart-info {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart-container {
    background-color: rgb(211, 211, 211);
    width: 60%;
    height: 100%;
}

.kpis-chart-container {
    width: 38.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: blueviolet;
}

.kpi-container {
    width: 100%;
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: red;
}

.pie-chart {
    width: 170px !important;
    height: 170px !important;
}

.line-chart {
    width: 90% !important;
}

/* PARTE ESQUERDA */

.left-main-container {
    width: 69.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    background-color: green;
}

.left-main-item {
    background-color: yellow;
    width: 100%;
}

/* KPI´S DE CIMA*/

.top-kpis {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.kpi-cpu-mean-container {
    background-color: blueviolet;
    width: 29%;
    height: 100%;
}

.kpi-alert-process {
    width: 39%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;

    background-color: blueviolet;
}

.top-kpi-flat {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
}

.top-kpi-flat p {
    margin: 10px;
}
.kpi-ram-mean-container {
    background-color: blueviolet;
    width: 29%;
    height: 100%;
}

/* GRÁFICO DE CPU + KPI DE PICO*/



/* PARTE DIREITA*/

.right-main-container {
    width: 29.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    background-color: pink;
}

.process-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    height: 81.5vh;
}

.process-list-header {
    height: 7%;
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
}

.process-list {
    width: 85%;
    height: 90%;
    background-color: blueviolet;
}

.process-list-item {
    background-color: red;
}

.process-item-info {
    background-color: blue;
}

.process-metrics {
    background-color: yellow;
}

.measures-chart-container {
    width: 100%;
    height: 50vh;

    background-color: blueviolet;
}

.measures-chart-header {
    display: flex;
    flex-direction: column;
    background-color: olive;
}

.measures-chart-legend {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: red;
}
.pie-measures-chart {
    width: 240px !important;
    height: 240px !important;
}