@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM RESET CSS */

body {
    display: flex;
    background-color: #f4f4f4;
}

.div-superior {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.div-filtro {
    width: 50vw;
    background-color: #fff;
    display: flex;
    align-items: center;
    height: 100px;
    border-radius: 50px;
    padding: 50px;
    font-size: 20px;
}

.div_select{
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 22px;
    gap: 20px;
}

#slc_setor , #slc_controlador{
    width: 20rem;
}

.div-usuario {
    display: flex;
    width: 20vw;
    background-color: #fff;
    margin: 20px;
    height: 100px;
    border-radius: 50px;
    padding: 20px;
    font-size: 20px;
}

.div-usuario h6 {
    font-size: 23px;
}

.div-img-usuario {
    margin-right: 15px;
    margin-left: 15px;
}



.div-info-conteudo {
    display: flex;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}

.div-info-conteudo h3 {
    font-size: 25px;
}

.div-info-conteudo p {
    font-size: 20px;
}

.container-content {
    width: 85%;
}

.container-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-metricas {
    display: flex;
    flex-direction: row-reverse;
}

.div_grafico {
    text-align: center;
    font-size: 1.4rem;
    background-color: #fff;
    width: 35vw;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.div-grafico-cpu-alertas {
    display: flex;
    flex-direction: column-reverse;
    background-color: #fff;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    padding-right: 10px;
    text-align: center;
    margin-left: 50px;
    border-radius: 10px;
}

.div-grafico-ram-kpi {
    display: flex;
    flex-direction: column-reverse;
    background-color: #fff;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
    padding-left: 10px;
    text-align: center;
    border-radius: 10px;
}

.tituloSetor{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
}

.div-controlador{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-controlador select {
    font-size: 15px;
    height: 30px;
    width: 100px;
    margin: 20px;
}

#grafico_cpu,
#grafico_ram,
#grafico_alerta {
    width: 100% !important;
    height: 290px !important;
}

.kpis {
    display: flex;

    .container-content {
        width: 80vw;
    }

    flex-direction: row;
    align-items: center;
    height: 293px;
    margin: 20px 20px 30px;
}

.kpi_dashboard {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    font-size: 1.5rem;
    width: 15vw;
    height: 22vh;
    background-color: white;
    margin: 20px;
    padding: 30px;
    align-items: center;
    border-radius: 20px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
}

.kpi_dashboard p {
    font-weight: 700;
    font-size: 2em;
}