@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    display: flex;
    background-color: #f4f4f4;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

:root {
    --ligth-red: rgb(255, 75, 75);
    --ligth-yellow: rgb(255, 217, 32);
    --dark-yellow: rgb(239, 198, 0);
    --ligth-green: rgb(70, 255, 45);
}

.container-content {
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    background-color: red;
}

/* CABECALHO */

.div-superior {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 40px;
  margin-top: 50px;
}

.div-filtro{
  width: 70%;
  background-color: white;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  height: 90px;
  border-radius: 50px;
  padding: 18px 28px;
  font-size: 18px;
}
.div-filtro select{
  font-size: 16px;
  height: 38px;
  width: 160px;
  margin-left: 18px;
}

.div-usuario{
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: white;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);
  height: 90px;
  width: 20vw;
  border-radius: 50px;
  padding: 12px 20px;
  font-size: 16px;
}
.div-usuario h6{ font-size: 18px; }
.div-img-usuario img{ width:56px; height:56px; border-radius:50%; }


/* MAIN */

.main-container {
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;

    background-color: blue;
}

.chart-info {
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;

    background-color: rgb(211, 211, 211);
}

.chart-container p {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.kpis-chart-container {
    width: 38.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: blueviolet;
}

.kpi-container {
    width: 100%;
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: red;
}

.kpi-container p {
    font-size: 1.6rem;
}

.kpi-chart-info {
    font-size: 1.5rem;
}

.pie-chart {
    width: 190px !important;
    height: 190px !important;
}

.line-chart {
    width: 90% !important;
    display: flex;
    align-self: center;
}

/* PARTE ESQUERDA */

.left-main-container {
    width: 69.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    background-color: green;
}

.left-main-item {
    background-color: yellow;
    width: 100%;
}

/* KPI´S DE CIMA*/

.top-kpis {
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.kpi-alert-process {
    width: 39%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10%;

    background-color: blueviolet;
}

.top-kpi-flat {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: red;
}

#total-alerts {
    border-radius: 15px;
    background-color: var(--ligth-yellow);
}

#active-processes {
    border-radius: 15px;
    background-color: var(--ligth-green);
}

.top-kpi-flat p {
    font-size: 1.7rem;
    margin: 10px;
    color: white;
    font-weight: 500;
}

.kpi-mean-container {
    width: 29%;
    height: 100%;
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: white;
    border-radius: 15px;
}

.kpi-mean-container p {
    font-size: 1.6rem;
}

.pie-chart-container p {
    width: fit-content;
    position: relative;
    line-height: 0px;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--ligth-red);
    font-weight: 700;
}

.pie-chart-container .ram-percent{
    top: 40% !important;
    color: var(--dark-yellow);
}

.pie-chart-container .ram-total{
    top: 60% !important;
    color: var(--dark-yellow);

    font-size: 1.2rem;
}


/* GRÁFICO DE CPU + KPI DE PICO*/



/* PARTE DIREITA*/

.right-main-container {
    width: 29.5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;

    background-color: pink;
}

.process-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: orange;
    height: 81.5vh;
}

.process-list-header {
    width: 85%;
    height: 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
}

.process-list-header p {
    font-size: 1.4rem;
}

.process-list {
    width: 85%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: blueviolet;
}

.process-list-item {
    display: flex;
    flex-direction: row;
    background-color: red;
}

.process-item-info {
    background-color: blue;
    width: 80%;
    padding-left: 20px;
}

.process-metrics {
    display: flex;
    flex-direction: row;
    gap: 7%;
    background-color: yellow;
}

.process-item-time {
    width: 20%;
    display: flex;
    align-items: center;
    background-color: brown;
}
.process-item-time p{
    width: 100%;
    text-align: center;
}

.measures-chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50vh;

    background-color: blueviolet;
}

.measures-chart-header {
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    background-color: olive;
}

.measures-chart-header p {
    width: 100%;
    padding-top: 10px;
    font-size: 1.5rem;
    text-align: center;
}

.measures-chart-legend {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: red;
}

.measures-chart-legend-item {
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: orange;
}

.measures-chart-legend-item p {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
    line-height: 0; 
}

.green-square {
    width: 30px;
    height: 25px;
    background-color: var(--ligth-green);
}

.yellow-square {
    width: 30px;
    height: 25px;
    background-color: var(--ligth-yellow);
}

.red-square {
    width: 30px;
    height: 25px;
    background-color: var(--ligth-red);
}
.pie-measures-chart {
    width: 260px !important;
    height: 260px !important;
}