header {
    position: sticky;
    top: 0;
    height: var(--tamanhoHeader);
    display: flex;
    
    backdrop-filter: blur(5px);
    background-color: #e9e9e9;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-blend-mode: multiply;
}

header a.link-logo {
    display: flex;
}

header .menu-normal {
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

header .menu-normal a {
    color: #26282c;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

header a:hover {
    color: #eb812b;
}

header .container img {
    width: 240px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao {
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    border: 0.15rem solid #26282c;
}

a.botao:hover {
    background-color: #eb812b;
    color: #e9e9e9;
}

.menu-responsivo .hamburguer {
    width: 2rem;
    height: 2rem;
    z-index: 1;

    span {
        display: block;
        width: 2rem;
        height: 0.3rem;
        margin-bottom: 0.6rem;
        background-color: #26282c;
        border-radius: 0.2rem;
        transition: all 0.2s ease-in-out;
    }
}

.menu-responsivo .check_hamburguer {
    position: absolute;
    z-index: 2;
    width: 2.3rem;
    height: 2.3rem;
    opacity: 0;
    cursor: pointer;
}

.menu-responsivo .check_hamburguer:checked ~ .hamburguer span:nth-child(1) {
    transform-origin: 0% 0%;
    transform: rotate(45deg) scaleX(1.35);
}

.menu-responsivo .check_hamburguer:checked ~ .hamburguer span:nth-child(2) {
    opacity: 0;
}

.menu-responsivo .check_hamburguer:checked ~ .hamburguer span:nth-child(3) {
    transform-origin: 0% 100%;
    transform: rotate(-45deg) scaleX(1.35);
}

.menu-responsivo ul {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 12rem;
    min-height: 100vh;
    padding-top: 6.25rem;
    background-color: #a9a9a9;
    margin-left: -100%;
    transition: all 0.2s ease-in-out;
}

.menu-responsivo .check_hamburguer:checked ~ ul {
    margin-left: 0;
}

.menu-responsivo ul li {
    padding: 1rem 3rem;
}

.menu-responsivo ul li a {
    color: #26282c;
    text-decoration: none;
    font-size: 1.4rem;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}

.menu-responsivo ul li img {
    width: 2rem;
    filter: invert(100%);
    margin-right: 1rem;
    vertical-align: middle;
}

.menu-responsivo ul li a:hover {
    color: #eb812b;
}