.pagina {
    min-height: var(--tamanhoPagina);
    scroll-margin-top: var(--tamanhoHeader);
}

h1 {
    font-size: 4rem;
}

.inicio {
    display: flex;
    align-items: center;

    background-image: url("../assets/fundo/robos-industriais3.jpg");
    background-size: cover;
    background-position: center;
    background-color: rgba(85, 85, 85, 0.9);
    background-blend-mode: multiply;
}

.texto-inicio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--corTextoPri);
}

.texto-inicio h1 {
    font-size: 4rem;
}

.texto-inicio h3 {
    font-size: 1.5rem;
}

/* Page sobre nós*/

.texto-sobre {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
}

.texto-sobre h2 {
    font-size: 2.5rem;
    color: var(--corTituloH2);
}

.texto-sobre p {
    color: var(--corTextoSec);
}

.figura {
    width: 25rem;
}

/*missão da empresa*/
.missao {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    min-height: 28rem;
}

.missao img {
    width: 9rem;
}

.miss {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.miss:nth-child(1) {
    background-color: #eb682b;
    color: var(--corTextoMissao);
}

.miss:nth-child(2) {
    background-color: var(--corTextoMissao);
    color: #eb682b;
}

.miss:nth-child(3) {
    background-color: #ee8a5b;
    color: var(--corTextoMissao);
}

.texto-missao {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.texto-missao h3 {
    font-size: 2rem;
}

.missao>div {
    flex: 1;
}

/*Servicos*/

.servicos {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    gap: 2rem;
}

.texto-servico h2 {
    font-size: 2.2rem;
    color: var(--corTituloH2);
}

/*parte de contato*/

.contato {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.formulario-home {
    width: 100%;
    display: flex;
    background-color: var(--corFundoForm);
    color:  var(--corTextoSec);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    border-radius: 1rem;
    padding: 2rem 0;
}

.campo {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}


#sobre, #servicos, #contato {
    margin: 2rem auto;
}

/* Aguardar */
#div_aguardar {
    display: none;
    position: fixed;
    top: 0px;
    left: 0;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.379);
    justify-content: center;
    align-items: center;
}

#div_aguardar img {
    width: 6rem;
    height: fit-content;
    position: relative;
}

#div_aguardar .borda_aguardar {
    position: absolute;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    border: 0.2rem solid var(--corTextoSec);
    border-top-color: var(--corBotao);
    animation: linear infinite 1s aguardar;
}

@keyframes aguardar {
    100% {
        transform: rotate(360deg);
    }
}

#div_erros_login {
    display: none;
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    color: var(--corTextoPri);
    background-color: #9b0202;
    padding: 2rem;
}