@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

/* FIM RESET CSS */

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4vh 2vw;
    gap: 2vw;
}


.logo-autobotics {
    width: 25vw;
}

.div-usuario-sair {
    display: flex;
    align-items: center;
    gap: 4vw;
}

.div-usuario {
    display: flex;
    align-items: center;
    background-color: #D9D9D9;
    width: auto;
    padding: 1.5em;
    height: 10vh;
    border-radius: 3em;
    font-size: 1.2rem;
}


.div-usuario h6 {
    font-size: 1.4rem;
}

.div-img-usuario {
    margin-right: 1em;
    margin-left: 1em;
}

.cadastrar:hover {
    background-color: #a05b23;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.cadastrar {
    display: flex;
    align-items: center;
    padding: 0.5rem 3rem 0.5rem 5rem;
    border-radius: 10px;
    height: fit-content;
    background-color: #E78433;
    font-size: 25px;
    border: none;
    cursor: pointer;
}

#btn-sair {
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: #E78433;
    width: 120px;
    padding: 15px;
    border-radius: 10px;
    margin-top: 27vh;
}

#btn-sair:hover {
    background-color: #a05b23;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.icon-sair {
    width: 30px;
}

.container-content {
    display: flex;
    justify-content: center;
}

.container-setores {
    text-align: center;
    background-color: #D9D9D9;
    padding: 2em;
    border-radius: 2em;
    width: 80vw;
    height: 77vh;
}

.container-setores h1 {
    margin: 1rem;
}

.setores {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    overflow-y: auto;
    max-height: 65vh;
    width: 77vw;
    padding: 1rem;
    justify-content: center;
}


.card-setor {
    text-align: justify;
    background-color: white;
    width: 30vw;
    padding: 1.5em;
    border-radius: 1.5em;
}

.card-setor h3 {
    font-size: 2rem;
}

.info-setor {
    padding: 1em;
    align-items: center;
    gap: 5em;
    display: flex;
    justify-content: space-around;
}

.status-setor {
    color: #EFC600;
}

.btn-acesso-setor {
    font-size: 1rem;
    background-color: #E78433;
    width: 5vw;
    padding: 0.5em;
    border-radius: 0.5em;
}

.btn-acesso-setor:hover {
    background-color: #a05b23;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}