@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


/* RESET CSS */
* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost";
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

.setor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 4%;
    row-gap: 20px;
}

.setor-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 250px;
    background: white;
    box-shadow: 1px 1.5px 15px 0.1px rgb(177, 177, 177);
    padding: 10px;
    cursor: pointer;
}

.setor-item h1 {
    font-size: 1.9rem;
    font-weight: 600;
    text-align: center;
}

.setor-values {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.setor-values p {
    font-size: 1.4rem;
}